Simple page Section for Beginners
.page {
    position: relative;
    align-items: center;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 25px;
}

/* Left side content */
.page-content {
    flex: 1;
}

.page-content h1 {
    font-size: 48px;
    color: #659a87;
    margin-bottom: 20px;
    font-weight: bold;
}

.page-content p {
    font-size: 18px;
    color: #767fa7;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* page button */
.page-btn {
    background-color: #76cbad;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #1e3d32;
}

/* Right side image */
/* .page-image {
    flex: 1; */
/* } */

/* .page-image img {
    width: 97%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) ;
     */

/* } */

/* Mobile responsive */
@media (max-width: 768px) {
    .page {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .page-content h1 {
        font-size: 32px;
    }

    .page-content p {
        font-size: 16px;
    }

    .page-image img {
        height: 300px;
    }
}